<app-breadcrumb [links]="breadcrumbItems"></app-breadcrumb>
<div class="spinner-border" role="status" *ngIf="loading">
  <span class="sr-only">Loading...</span>
</div>
<div class="container">
  <a class="row match-link" *ngFor="let match of matches" routerLink="/{{competition.code}}/{{match.id}}">
    <span class="col-md">{{moment(match.utcDate).format("DD/MM HH:mm")}}</span>
    <span class="col home-team">{{match.homeTeam.name}}</span>
    <span class="col score">{{match.score?.fullTime?.homeTeam}} - {{match.score?.fullTime?.awayTeam}}</span>
    <span class="col away-team">{{match.awayTeam.name}}</span>
    <span class="col-md last-col">
      <span class="live ngf-green" *ngIf="match.status === 'IN_PLAY'">live</span>
      <span class="live ngf-green" *ngIf="match.status === 'PAUSED'">half-time</span>
    </span>
  </a>
</div>
